@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    font-size: 1.4vw;
}
.menu {
    display: flex; /* Use flexbox for horizontal layout */
    list-style: none;
    padding: 0;
    background-color: #ffffff;
}

.menu li {
    padding: 0px 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu li:last-child {
    border-right: none;
}

.menu li a {
    text-decoration: none;
    color: #737373; /* Change this color to your desired color */
    transition: background-color 0.2s;
    display: block;
    padding: 5px;
    font-size: 1.2vw;
    white-space: nowrap;
    text-shadow: none;
}

/* Style for the menu item links when hovered */
.menu li a:hover {
    background-color: #f4f4f4;
}

.nav{
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 30px;
    z-index: 50;
    padding: 2%;
}

.logo a{
    text-decoration: none;
    color: #333;
}

.register-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    transition: transform 0.5s ease;
}

.register-box{
position:relative;
z-index: 1;
background: #f9f9f9;
min-height: 60vh;
min-width: 150vh;
display: flex;
flex-direction: column;
padding: 25px 25px;
border: solid #d6d6d6;
border-radius: 20px;
}

.form-box {
    width: 90%; /* Use a percentage for responsiveness */
    max-width: 600px; /* Add a max-width to avoid it becoming too wide on larger screens */
    margin: 0 auto; /* Center the form box horizontally */
    
}

/* Add a media query for smaller screens */
@media screen and (max-width: 768px) {
    .form-box {
        width: 95%; /* Adjust width for smaller screens */
    }

    .form-box form .input input {
        font-size: 14px; /* Adjust font size for smaller screens */
    }
}
.form-box header{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
}

.form-box form .field{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    padding: 1%;
}

.form-box form .input input{
    height: 7vh;
    width: 100%;
    font-size: 1.3vw;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #d2d2d2;
    outline: none;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    padding-top: 20px;
    padding-bottom: 20px;
}

.button-row{
    display: flex; 
    margin-top: 20px; 
    justify-content: 
    space-between; 
    align-items: center;
    padding-left: 4%;
}