@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vw;
}

.container a {
    display: block; /* Make the anchor element a block-level element */
    text-decoration: none; /* Remove underlines from links */
    color: inherit; /* Inherit text color from parent */
    text-align: center;
}

.box-img {
    /* Add styles for the image */
    background-image: url('logo_light.png'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    height: 80px; /* Adjust the image height */
}

.box-divider {
    border-top: 2px solid #ddd; 
    opacity: .3;
    margin: 10px;
    margin-top: 20px;
}

.box.unlocked {
    pointer-events: auto; /* Enable click events when unlocked */
}

.box-content {
    flex-grow: 1; /* Allow the text content to grow and fill the remaining space */
    padding: 10px;
    text-decoration: none; /* Remove underlines from links */
}

/* Change box background color on hover */
.box:hover {
    background-color: #fbfbfb;
}

/* Lower opacity for locked columns */
.box.locked {
    opacity: 0.5;
    pointer-events: none; /* Disable click events on locked columns */
}

.logo{
    text-align: left;
    padding: 0%;
}


.container{
    text-align: left;
}

.intro-container {
    display: flex;
    flex-wrap: wrap; /* Allow columns to wrap to the next row on small screens */
    justify-content: space-between;
    display: flex;
    align-items: left;
    justify-content: center;
    min-height: 45vh;
    padding-top: 20px; 
}

.box {
    width: 100%; /* By default, columns take full width */
    background-color: #f2f2f2;
    padding: 5px;
    border: 1.5px solid #ddd;
    text-align: center;
    margin-right: 10px; /* Add some spacing between columns */
    margin-bottom: 10px;
    background: #ffffff;
    padding: 2%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0),
    0 0px 64px -30px rgba(0,0,0,0.1);
}

/* Media query for smaller screens */
@media screen and (min-width: 768px) {
    .box {
        width: calc(20% - 20px); /* Calculate column width with margin */
    }
}

@media screen and (max-width: 768px) {
            .column {
                width: 100%; /* Set column width to full width on smaller screens */
            }
        }
/**Home**/

body {
    background-size: cover; /* This will make sure the background image covers the whole window */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-attachment: fixed; /* Fixed background image as the user scrolls */
}


.menu {
    display: flex; /* Use flexbox for horizontal layout */
    list-style: none;
    padding: 0;
    background-color: #ffffff;
}

.menu li {
    padding: 0px 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu li:last-child {
    border-right: none;
}

.menu li a {
    text-decoration: none;
    color: #737373; /* Change this color to your desired color */
    transition: background-color 0.2s;
    display: block;
    padding: 5px;
    font-size: 1.2vw;
    white-space: nowrap;
    text-shadow: none;
}

/* Style for the menu item links when hovered */
.menu li a:hover {
    background-color: #f4f4f4;
}

.nav{
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 30px;
    z-index: 50;
    padding: 2%;
}

.logo a{
    text-decoration: none;
    color: #333;
}